<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guanghe.api.dao.AssetManagementDetailsDao">



    <select id="queryAssetManagementDetails" resultType="com.guanghe.api.entity.bo.AssetManagementDetailsBO">
        SELECT * FROM gh_asset_management_details
    </select>

    <update id="updateAssetManagement" parameterType="com.guanghe.api.entity.bo.AssetManagementDetailsBO">
        UPDATE gh_asset_management_details  SET img_url = #{imgUrl},
        update_time = NOW()
    </update>
</mapper>