<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.guanghe.api.dao.ChairmanSpeechDao">
   <!-- 添加-->
    <insert id="addChairmanSpeech" parameterType="com.guanghe.api.entity.bo.ChairmanSpeech"
            useGeneratedKeys="true" keyProperty="id">
        insert into gh_guanghe_on_chairman_speech SET  title = #{title},sourse = #{sourse},create_time = NOW(),
    chairman_speech = #{chairman_speech},create_user = #{create_user},image=#{image}
    </insert>
    <update id="updateChairmanSpeech" parameterType="com.guanghe.api.entity.bo.ChairmanSpeech">
        update gh_guanghe_on_chairman_speech set title = #{title}, chairman_speech = #{chairman_speech}, image = #{image},
        update_time = now() where id = #{id}
    </update>
    <select id="queryChairmanSpeechDetailById" parameterType="int" resultType="com.guanghe.api.entity.bo.ChairmanSpeech">
        select * from gh_guanghe_on_chairman_speech where id = #{id}
    </select>

    <delete id="deleteChairmanSpeech" parameterType="int">
        delete from gh_guanghe_on_chairman_speech where id = #{id}
    </delete>
</mapper>