<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanghe.api.dao.mallDao.GoodsTypeDao">

    <insert id="addGoodType" parameterType="com.guanghe.api.entity.mallBo.GoodTypeBo"
            useGeneratedKeys="true" keyProperty="id">
        insert into mall_goods_type SET  name = #{name},,create_time = NOW()
        ,create_user = #{createUser}
    </insert>
    <update id="updateGoodType" parameterType="com.guanghe.api.entity.mallBo.GoodTypeBo">
        update mall_goods_type set name = #{name}
        ,update_time = now() where id = #{id}
    </update>
    <select id="queryGoodType" parameterType="int" resultType="com.guanghe.api.entity.mallBo.GoodTypeBo">
        select * from mall_goods_type
    </select>
    <select id="queryGoodTypeById" parameterType="int" resultType="com.guanghe.api.entity.mallBo.GoodTypeBo">
        select * from mall_goods_type WHERE id=#{pid}
    </select>

    <delete id="deleteGoodType" parameterType="int">
        delete from mall_goods_type where id = #{id}
    </delete>
</mapper>
