<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanghe.api.dao.mallDao.GoodsFollowDao">

    <insert id="addGoodsFollow" parameterType="com.guanghe.api.entity.mallBo.GoodsFollowBo"
            useGeneratedKeys="true" keyProperty="id">
        insert into mall_goods_follow SET  user_id = #{userId},,create_time = NOW()
        ,create_user = #{createUser},sku=#{sku}
    </insert>
    <select id="queryMyGoodsFollow" parameterType="int" resultType="com.guanghe.api.entity.mallBo.GoodsFollowBo">
        select *from mall_goods t,mall_goods_follow b where t.id =b.goods_id and b.user_id =#{id}
    </select>
    <select id="queryGoodsFollow" parameterType="int" resultType="com.guanghe.api.entity.mallBo.GoodsFollowBo">
        select * from mall_goods_follow WHERE id=#{id}
    </select>

    <delete id="deleteGoodsFollow" parameterType="int">
        delete from mall_goods_follow where id = #{id}
    </delete>
    <select id="queryUserFollow" parameterType="int" resultType="com.guanghe.api.entity.mallBo.GoodsDetailBo">
        SELECT p.sku,p.price,p.preferential_end_time ,p.preferential_price,g.*
        FROM
        mall_goods g
        left JOIN
        mall_price_and_specification p ON g.id = p.goods_id
        LEFT JOIN
        mall_goods_follow m  ON m.sku=p.sku
        WHERE
        m.user_id=#{id}</select>

    <select id="queryUserFollowSku" parameterType="int" resultType="int">
        select sku from mall_goods_follow  where user_id =#{id}
    </select>
    <select id="queryGoodsFollow1" parameterType="com.guanghe.api.entity.mallBo.GoodsFollowBo" resultType="com.guanghe.api.entity.mallBo.GoodsFollowBo">
        select * from mall_goods_follow WHERE sku=#{sku}  AND  user_id=#{userId}
    </select>
</mapper>