<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.guanghe.api.dao.SubscribeDao">

    <sql id="limit">
        limit #{pageOffset}, #{pageSize}
    </sql>

    <select id="getSubscribeCount" resultType="int" parameterType="map">
        SELECT count(id) FROM gh_subscribe WHERE user_id = #{userId} AND status = 1

        <if test="startTime != null">
            AND confirmation_of_date &gt; #{startTime}
        </if>
        <if test="endTime != null">
            AND confirmation_of_date &lt; #{endTime}
        </if>

    </select>

    <select id="getSubscribeList" resultType="map" parameterType="map">
        SELECT
        gs.*,gpi.fund_name AS name2,gpi.fund_type
        FROM
        gh_subscribe gs LEFT JOIN gh_private_investment gpi ON gs.private_investment_id = gpi.id
        WHERE
        gs.user_id = 20
        AND gs. STATUS = 1
        <if test="startTime != null">
            AND confirmation_of_date &gt; #{startTime}
        </if>
        <if test="endTime != null">
            AND confirmation_of_date &lt; #{endTime}
        </if>
        ORDER BY gs.create_time DESC
        <include refid="limit"/>
    </select>


    <insert id="addSubscribe" parameterType="com.guanghe.api.entity.bo.SubscribeBo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gh_subscribe (private_investment_id,user_id,name,phone,create_time,amount_of_investment)
        VALUES (#{privateInvestmentId},#{userId},#{name},#{phone},NOW(),#{amountOfInvestment});
    </insert>

</mapper>